@tailwind base;
@tailwind components;
@tailwind utilities;

#persistent-bgm-bar {
  position: fixed !important;
  bottom: 80px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  z-index: 99999999 !important;
  display: flex !important;
  background: #D4AF37 !important;
  padding: 15px 30px !important;
  border-radius: 50px !important;
  border: 4px solid white !important;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.8) !important;
}

:root {
  --foreground-rgb: 62, 60, 58;
  --background-start-rgb: 249, 247, 242;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

/* Smooth Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #EAE4D9;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #D4AF37;
}